<div class="page_nav">
<a href="/?mode=summary">summary</a> | <a href="/?mode=shortlog">shortlog</a> | <a href="/?mode=log">log</a> | <a href="/?mode=commit;h={{commit_hash}}">commit</a> | <a href="/?mode=commitdiff;h={{commit_hash}}">commitdiff</a><br/>
<a href="{{currpath}}?mode=checkout;blobh={{file.sha1}}">plain</a> | <a href="{{currpath}}">head</a><br/>
</div>
<div><a class="title" href="{{currpath}}?mode=commit;h={{commit_hash}}">{{commit_desc}}</a></div>
<div class="page_path"><b>{{file.path}}</b></div>
<div class="page_body">
{% for line in file.lines %}
  <div class="pre"><a id="l{{forloop.index}}" href="#l{{forloop.index}}" class="linenr">    {{forloop.index}}</a> {{line}}</div>
{% endfor %}
</div>
