{% comment %}
  Gitarella - web interface for GIT
  Copyright (c) 2006 Diego "Flameeyes" Pettenò (flameeyes@gentoo.org)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with gitarella; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
{% endcomment %}
<div class="page_nav">
<a href="{{basepath}}/{{repository.id}}/?mode=summary">summary</a> | 
<a href="{{basepath}}/{{repository.id}}/?mode=shortlog">shortlog</a> | 
<a href="{{basepath}}/{{repository.id}}/?mode=log">log</a> | 
<a href="{{basepath}}/{{repository.id}}/?mode=commit;h={{commit.sha1}}">commit</a> | 
<a href="/?mode=commitdiff;h={{commit.sha1}}">commitdiff</a><br/>
<a href="{{currpath}}?mode=checkout;blobh={{file.sha1}}">plain</a> | 
<a href="{{currpath}}">head</a><br/>
</div>
<div><a class="title" href="{{currpath}}?mode=commit;h={{commit.sha1}}">{{commit.short_description | escapespecialchars }}</a></div>
<div class="page_body">
{% specialfor line in file.lines %}
  <div class="pre"><a id="l{{forloop.index}}" href="#l{{forloop.index}}" class="linenr">{{forloop.aligidx}}{{forloop.index}}</a> {{line}}</div>
{% endspecialfor %}
</div>
