<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="robots" content="index, nofollow"/>
<title>{{title}}</title>

<link rel="stylesheet" href="{{basepath}}/static/styles.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="{{basepath}}/static/favicon.png" />

</head>
<body>
<div class="page_header">
<a href="http://www.kernel.org/pub/software/scm/git/docs/" title="git documentation"><img src="{{basepath}}/static/git-logo.png" width="72" height="27" alt="git" style="float:right; border-width:0px;"/></a>
<a href="{{basepath}}/">projects</a> {% if repository %}/ <a href="{{basepath}}/{{repository.id}}/">{{repository.id}}</a>{% endif %} 
{% if path %}{% for element in path %}/ <a href="{{basepath}}/{{project_id}}/{{element.path}}">{{element.name}}</a> {% endfor %}{% endif %}</div>

<!--
<form method="get" action="/" enctype="application/x-www-form-urlencoded">
<div class="search">
<input type="hidden" name="p" value="rubytagxx.git"  />
<input type="hidden" name="a" value="search"  />
<input type="hidden" name="h" value="HEAD"  />
<input type="text" name="s"  />
</div>
</form>
-->

{{content}}

<div class="page_footer">
{% if repository.description %}<div class="page_footer_text">{{repository.description}}</div>{% endif %}
<!--<a class="rss_logo" href="/?a=opml">OPML</a>-->
</div>
</body>
</html>
