<div class="page_nav">
summary |
<a href="{{currpath}}?mode=shortlog;h={{tag.commit.sha1}}">shortlog</a> |
<a href="{{currpath}}?mode=log;h={{tag.commit.sha1}}">log</a> |
<a href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}">commit</a> |
<a href="{{currpath}}?mode=commitdiff;h={{tag.commit.sha1}}">commitdiff</a> |
<a href="{{currpath}}?mode=tree;hb={{tag.commit.sha1}}">tree</a>
<br/><br/>
</div>

<div>
<a class="title" href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}">{{tag.name | escapespecialchars}}</a>
</div>
<div class="title_text">
<table cellspacing="0">
<tr>
<td>object</td>
<td><a class="list" href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}">{{tag.commit.sha1}}</a></td>
<td class="link"><a href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}">commit | escapespecialchars</a></td>
</tr>
<tr><td>author</td><td>{{tag.tagger_name | escapespecialchars}} &lt;{{tag.tagger_mail}}&gt;</td></tr>
<tr><td></td><td>{{tag.tagger_time | date_str}}</td></tr>
</table>

</div>
<div class="page_body">
{{ tag.description | escapespecialchars | nl2br }}
<br />
{{ tag.gpg_signature | escapespecialchars | nl2br }}
</div>
