<table cellspacing="0">
<tr>
<th>{% if sort != "id" %}<a href="{{currpath}}?sort=id">{% endif %}Project{% if sort != "id" %}</a>{% endif %}</th>
<th>{% if sort != "description" %}<a href="{{currpath}}?sort=description">{% endif %}Description{% if sort != "description" %}</a>{% endif %}</th>
<th>{% if sort != "owner" %}<a href="{{currpath}}?sort=owner">{% endif %}Owner{% if sort != "owner" %}</a>{% endif %}</th>
<th>{% if sort != "last_change" %}<a href="{{currpath}}?sort=last_change">{% endif %}Last Change{% if sort != "last_change" %}</a>{% endif %}</th>
<th></th>
</tr>
{% for repo in repositories %}
  <tr class="light">
  <td><a class="list" href="{{basepath}}/{{repo.id}}/">{{repo.id}}</a></td>
  <td>{{repo.description}}</td>
  <td><i>{{repo.owner}}</i></td>
  <td><i>{{repo.last_change_str}}</i></td>
  <td class="link"><a href="{{basepath}}/{{repo.id}}?mode=summary">summary</a> | <a href="{{basepath}}/{{repo.id}}?mode=shortlog">shortlog</a> | <a href="{{basepath}}/{{repo.id}}?mode=log">log</a></td>
  </tr>
{% endfor %}
</table>
