</div>
<div class="page_nav">
summary | <a href="{{currpath}}?mode=shortlog;h={{commit_hash}}">shortlog</a> | <a href="{{currpath}}?mode=log;h={{commit_hash}}">log</a> | <a href="{{currpath}}?mode=commit;h={{commit_hash}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit_hash}}">commitdiff</a> | <a href="{{currpath}}">tree</a><br/><br/>
</div>
<div class="title">&nbsp;</div>
<table cellspacing="0">
<tr><td>description</td><td>{{repository.description}}</td></tr>
<tr><td>owner</td><td>{{repository.owner}}</td></tr>
<tr><td>last change</td><td>{{repository.head.commit_time | date_str}}</td></tr>
</table>
<div>
<a class="title" href="{{currpath}}?mode=shortlog">shortlog</a></div>
<table cellspacing="0">
{% for commit in commits %}
<tr class="light">
<td><i>{{commit.commit_time | age_str}}</i></td>
<td><i>{{commit.author_name}}</i></td>
<td><a class="list" href="{{currpath}}?mode=commit;h={{commit.sha1}}"><b>{{commit.description}}</b></a></td>
<td class="link"><a href="{{currpath}}?mode=commit;h={{commit.sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a></td>
</tr>
{% endfor %}
{% if more_commits %}
<tr class="light"><td><a href="{{currpath}}?mode=shortlog">...</a></td></tr>
{% endif %}
</table>

{% if repository.has_tags %}
<div><a class="title" href="{{currpath}}?mode=tags">tags</a></div>
<table cellspacing="0">
{% for tag in repository.tags %}
<tr class="light">
<td><i>{{ tag.tagger_time | age_str }}</i></td>
<td><a class="list" href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}"><b>{{tag.name}}</b></a></td>
<td><a class="list" href="{{currpath}}?mode=tag;htag={{tag.sha1}}">{{tag.description}}</a></td>
<td class="link">
  <a href="{{currpath}}?mode=tag;htag={{tag.sha1}}">shortlog</a> |
  <a href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}">commit</a> |
  <a href="{{currpath}}?mode=shortlog;h={{tag.commit.sha1}}">shortlog</a> |
  <a href="{{currpath}}?mode=log;h={{tag.commit.sha1}}">log</a>
</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if repository.has_heads %}
<div><a class="title" href="{{currpath}}?mode=heads">heads</a></div>
<table cellspacing="0">
{% for head in repository.heads %}
<tr class="light">
<td><i>{{ head.last_change | age_str }}</i></td>
<td><a class="list" href="{{currpath}}?mode=shortlog;h={{head.sha1}}"><b>{{head.name}}</b></a></td>
<td class="link"><a href="{{currpath}}?mode=shortlog;h={{head.sha1}}">shortlog</a> | <a href="{{currpath}}?mode=log;h={{head.sha1}}">log</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
