{% comment %}
  Gitarella - web interface for GIT
  Copyright (c) 2006 Diego "Flameeyes" Pettenò (flameeyes@gentoo.org)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with gitarella; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
{% endcomment %}

<div class="page_nav">
<a href="{{currpath}}?mode=summary">summary</a> | shortlog | <a href="{{currpath}}?mode=log;h={{commit.sha1}}">log</a> | <a href="{{currpath}}?mode=commit;h={{commit.sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a> | <a href="{{currpath}}">tree</a><br/>
{% if commit.sha1 != repository.head.sha1 %}<a href="{{currpath}}?mode=shortlog">HEAD</a>
{% else %}HEAD{% endif %}
&sdot;
{% if prev_commits %}<a title="Alt-p" accesskey="p" href="{{currpath}}?mode=shortlog;start={{prev_commits}}">prev</a>
{% else %}prev{% endif %}
&sdot;
{% if more_commits %}<a title="Alt-n" accesskey="n" href="{{currpath}}?mode=shortlog;start={{more_commits}}">next</a>
{% else %}next{% endif %}
<br/>
</div>
<div>
<a class="title" href="{{currpath}}?mode=summary">&nbsp;</a></div>
<table cellspacing="0">
{% specialfor commit in commits %}
  {% if forloop.even %}
    <tr class="light">
  {% else %}
    <tr class="dark">
  {% endif %}
<td><i>{{commit.commit_time | age_str}}</i></td>
<td><i>{{commit.author_name | htmlescape}}</i></td>
<td><a class="list" title="{{commit.description | htmlescape}}" href="{{currpath}}?mode=commit;h={{commit.sha1}}"><b>{{commit.short_description | htmlescape | nl2br}}
  {% for tag in commit.tags %}
    <span class="tag">{{tag}}</span>
  {% endfor %}
  </b></a></td>
<td class="link"><a href="{{currpath}}?mode=commit;h={{commit.sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a></td>
</tr>
{% endspecialfor %}
<!-- It's not funny to put all in one page... but leave it here for now :P
<td><a title="Alt-n" href="/?p=rubytagxx.git;a=shortlog;h=52b3c0f6245d427689de7eee15673ba76c17706c;pg=1">next</a></td>
-->
</table>
