{% comment %}
  Gitarella - web interface for GIT
  Copyright (c) 2006 Diego "Flameeyes" Pettenò (flameeyes@gentoo.org)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with gitarella; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
{% endcomment %}

<div class="page_nav">
<a href="{{currpath}}?mode=summary">summary</a> | <a href="{{currpath}}?mode=shortlog;h={{commit.sha1}}">shortlog</a> | <a href="{{currpath}}?mode=log;h={{commit.sha1}}">log</a> | commit | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a> | <a href="{{currpath}}">tree</a><br/>
<br/></div>
<div>
<a class="title" href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">{{commit.short_description | htmlescape}}</a>
</div>
<div class="title_text">
<table cellspacing="0">
<tr><td>author</td><td>{{commit.author_name}} &lt;{{commit.author_mail}}&gt;</td></tr>
<tr><td></td><td>{{commit.author_time | date_str}}</td></tr>
<tr><td>committer</td><td>{{commit.commit_name}} &lt;{{commit.commit_mail}}&gt;</td></tr>
<tr><td></td><td>{{commit.commit_time | date_str}}</td></tr>
<tr><td>commit</td><td style="font-family:monospace">{{commit.sha1}}</td></tr>
<tr><td>tree</td><td style="font-family:monospace"><a class="list" href="{{currpath}}?mode=tree;treehash={{commit.tree}}">{{commit.tree}}</a></td><td class="link"><a href="{{currpath}}?mode=tree;treehash={{commit.tree}}">tree</a></td></tr>
<tr><td>parent</td><td style="font-family:monospace"><a class="list" href="{{currpath}}?mode=commit;h={{commit.parent_sha1}}">{{commit.parent_sha1}}</a></td><td class="link"><a href="{{currpath}}?mode=commit;h={{commit.parent_sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.parent_sha1}};hp={{commit.sha1}}">commitdiff</a></td></tr>
</table></div>
<div class="page_body">
{{commit.description | htmlescape | nl2br }}
</div>
<div class="list_head">
</div>
<table cellspacing="0">
{% for change in commit.changes %}
<tr class="light">
<td><a class="list" href="{{currpath}}{{change.file}}?mode=blobdiff;hn={{change.new_hash}};hp={{change.old_hash}};h={{commit.sha1}}">{{change.file}}</a></td>
<td></td>
<td class="link"><a href="{{currpath}}{{change.file}}?hn={{change.new_hash}};h={{commit.sha1}}">blob</a> | <a href="{{currpath}}{{change.file}}?mode=blobdiff;hn={{change.new_hash}};hp={{change.old_hash}};h={{commit.sha1}}">diff</a> | <a href="{{currpath}}{{change.file}}?mode=history;h={{commit.sha1}}">history</a>
</td>
</tr>
{% endfor %}
</table>
