{% comment %}
  Gitarella - web interface for GIT
  Copyright (c) 2006 Diego "Flameeyes" Pettenò (flameeyes@gentoo.org)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with gitarella; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
{% endcomment %}

<div class="page_nav">
<a href="{{currpath}}?mode=summary">summary</a> | <a href="{{currpath}}?mode=shortlog;h={{commit.sha1}}">shortlog</a> | log | <a href="{{currpath}}?mode=commit;h={{commit.sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a> | <a href="{{currpath}}">tree</a><br/>
{% if commit.sha1 != repository.head.sha1 %}<a href="{{currpath}}?mode=log">HEAD</a>
{% else %}HEAD{% endif %}
&sdot;
{% if prev_commits %}<a title="Alt-p" accesskey="p" href="{{currpath}}?mode=log;h={{prev_commits}}">prev</a>
{% else %}prev{% endif %}
&sdot;
{% if more_commits %}<a title="Alt-n" accesskey="n" href="{{currpath}}?mode=log;h={{more_commits}}">next</a>
{% else %}next{% endif %}
<br/>
</div>
{% for commit in commits %}
<div>
<a class="title" href="{{currpath}}?mode=commit;h={{commit.sha1}}"><span class="age">{{commit.commit_time | age_str}}</span>
{{commit.short_description | escapespecialchars}}</a>
</div>
<div class="title_text">
<div class="log_link">
<a href="{{currpath}}?mode=commit;h={{commit.sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a><br/>
</div>
<i>{{commit.author_name | escapespecialchars}} [{{commit.author_time | date_str}}]</i><br/>
</div>
<div class="log_body">
{{commit.description | escapespecialchars | nl2br}}<br/>
</div>
{% endfor %}
