<div class="page_nav">
<a href="{{currpath}}?mode=summary">summary</a> | <a href="{{currpath}}?mode=shortlog;h={{commit_hash}}">shortlog</a> | <a href="{{currpath}}?mode=log;h={{commit_hash}}">log</a> | commit | <a href="{{currpath}}?mode=commitdiff;h={{commit_hash}}">commitdiff</a> | <a href="{{currpath}}">tree</a><br/>
<br/></div>
<div>
<a class="title" href="{{currpath}}?mode=commitdiff;h={{commit_hash}}">{{commit.short_description}}</a>
</div>
<div class="title_text">
<table cellspacing="0">
<tr><td>author</td><td>{{commit.author_name}} &lt;{{commit.author_mail}}&gt;</td></tr>
<tr><td></td><td>{{commit.author_time | date_str}}</td></tr>
<tr><td>committer</td><td>{{commit.commit_name}} &lt;{{commit.commit_mail}}&gt;</td></tr>
<tr><td></td><td>{{commit.commit_time | date_str}}</td></tr>
<tr><td>commit</td><td style="font-family:monospace">{{commit.sha1}}</td></tr>
<tr><td>tree</td><td style="font-family:monospace"><a class="list" href="{{currpath}}?mode=tree;treehash={{commit.tree}}">{{commit.tree}}</a></td><td class="link"><a href="{{currpath}}?mode=tree;treehash={{commit.tree}}">tree</a></td></tr>
<tr><td>parent</td><td style="font-family:monospace"><a class="list" href="{{currpath}}?mode=commit;h={{commit.parent_sha1}}">{{commit.parent_sha1}}</a></td><td class="link"><a href="{{currpath}}?mode=commit;h={{commit.parent_sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.parent_sha1}};hp={{commit.sha1}}">commitdiff</a></td></tr>
</table></div>
<div class="page_body">
{{commit.description | nl2br }}
</div>
<div class="list_head">
</div>
<table cellspacing="0">
{% for change in commit.changes %}
<tr class="light">
<td><a class="list" href="{{currpath}}{{change.file}}?mode=blobdiff;hn={{change.new_hash}};hp={{change.old_hash}};h={{commit_hash}}">{{change.file}}</a></td>
<td></td>
<td class="link"><a href="{{currpath}}{{change.file}}?hn={{change.new_hash}};h={{commit_hash}}">blob</a> | <a href="{{currpath}}{{change.file}}?mode=blobdiff;hn={{change.new_hash}};hp={{change.old_hash}};h={{commit_hash}}">diff</a> | <a href="{{currpath}}{{change.file}}?mode=history;h={{commit_hash}}">history</a>
</td>
</tr>
{% endfor %}
</table>
