<div class="page_nav">
<a href="{{currpath}}?mode=summary">summary</a> | <a href="{{currpath}}?mode=shortlog;h=">shortlog</a> | log | <a href="{{currpath}}?mode=commit;h={{commit_hash}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit_hash}}">commitdiff</a> | <a href="{{currpath}}">tree</a><br/><br/>
<!-- It's not funny to put all in one page... but leave it here for now :P
HEAD &sdot; prev &sdot; <a title="Alt-n" accesskey="n" href="/?p=rubytagxx.git;a=shortlog;h=52b3c0f6245d427689de7eee15673ba76c17706c;pg=1">next</a><br/>
-->
</div>
{% for commit in commits %}
<div>
<a class="title" href="{{currpath}}?mode=commit;h={{commit.sha1}}"><span class="age">{{commit.commit_date_age}}</span>{{commit.short_description}}</a>
</div>
<div class="title_text">
<div class="log_link">
<a href="{{currpath}}?mode=commit;h={{commit.sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a><br/>
</div>
<i>{{commit.author_name}} [{{commit.author_date_str}}]</i><br/>
</div>
<div class="log_body">
{{commit.description}}<br/>
</div>
{% endfor %}
