{% comment %}
  Gitarella - web interface for GIT
  Copyright (c) 2006 Diego "Flameeyes" Pettenò (flameeyes@gentoo.org)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with gitarella; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
{% endcomment %}

</div>
<div class="page_nav">
summary | <a href="{{currpath}}?mode=shortlog;h={{commit_hash}}">shortlog</a> | <a href="{{currpath}}?mode=log;h={{commit_hash}}">log</a> | <a href="{{currpath}}?mode=commit;h={{commit_hash}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit_hash}}">commitdiff</a> | <a href="{{currpath}}">tree</a><br/><br/>
</div>
<div class="title">&nbsp;</div>
<table cellspacing="0">
<tr><td>description</td><td>{{repository.description}}</td></tr>
<tr><td>owner</td><td>{{repository.owner}}</td></tr>
<tr><td>last change</td><td>{{repository.head.commit_time | date_str}}</td></tr>
</table>
<div>
<a class="title" href="{{currpath}}?mode=shortlog">shortlog</a></div>
<table cellspacing="0">
{% specialfor commit in commits %}
  {% if forloop.even %}
    <tr class="light">
  {% else %}
    <tr class="dark">
  {% endif %}
<td><i>{{commit.commit_time | age_str}}</i></td>
<td><i>{{commit.author_name | escapespecialchars}}</i></td>
<td><a class="list" href="{{currpath}}?mode=commit;h={{commit.sha1}}"><b>{{commit.description | escapespecialchars | nl2br }}</b></a></td>
<td class="link"><a href="{{currpath}}?mode=commit;h={{commit.sha1}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit.sha1}}">commitdiff</a></td>
</tr>
{% endspecialfor  %}
{% if more_commits %}
<tr class="light"><td><a href="{{currpath}}?mode=shortlog">...</a></td></tr>
{% endif %}
</table>

{% if repository.has_tags %}
<div><a class="title" href="{{currpath}}?mode=tags">tags</a></div>
<table cellspacing="0">
{% specialfor tag in repository.tags %}
  {% if forloop.even %}
    <tr class="light">
  {% else %}
    <tr class="dark">
  {% endif %}
<td><i>{{ tag.tagger_time | age_str }}</i></td>
<td><a class="list" href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}"><b>{{tag.name | escapespecialchars}}</b></a></td>
<td><a class="list" href="{{currpath}}?mode=tag;htag={{tag.sha1}}">{{tag.description | escapespecialchars}}</a></td>
<td class="link">
  <a href="{{currpath}}?mode=tag;htag={{tag.sha1}}">shortlog</a> |
  <a href="{{currpath}}?mode=commit;h={{tag.commit.sha1}}">commit</a> |
  <a href="{{currpath}}?mode=shortlog;h={{tag.commit.sha1}}">shortlog</a> |
  <a href="{{currpath}}?mode=log;h={{tag.commit.sha1}}">log</a>
</td>
</tr>
{% endspecialfor  %}
</table>
{% endif %}

{% if repository.has_heads %}
<div><a class="title" href="{{currpath}}?mode=heads">heads</a></div>
<table cellspacing="0">
{% specialfor head in repository.heads %}
  {% if forloop.even %}
    <tr class="light">
  {% else %}
    <tr class="dark">
  {% endif %}
<td><i>{{ head.last_change | age_str }}</i></td>
<td><a class="list" href="{{currpath}}?mode=shortlog;h={{head.sha1}}"><b>{{head.name}}</b></a></td>
<td class="link"><a href="{{currpath}}?mode=shortlog;h={{head.sha1}}">shortlog</a> | <a href="{{currpath}}?mode=log;h={{head.sha1}}">log</a></td>
</tr>
{% endspecialfor %}
</table>
{% endif %}
