<!--
<form method="get" action="/" enctype="application/x-www-form-urlencoded">
<div class="search">
<input type="hidden" name="p" value="rubytagxx.git"  />
<input type="hidden" name="a" value="search"  />
<input type="hidden" name="h" value="{{commit_hash}}"  />
<input type="text" name="s"  />
</div>
</form>
-->
<div class="page_nav">
<a href="{{currpath}}?mode=summary">summary</a> | <a href="{{currpath}}?mode=shortlog;h={{commit_hash}}">shortlog</a> | <a href="{{currpath}}?mode=log;h={{commit_hash}}">log</a> | <a href="{{currpath}}?mode=commit;h={{commit_hash}}">commit</a> | <a href="{{currpath}}?mode=commitdiff;h={{commit_hash}}">commitdiff</a> | tree<br/><br/>
</div>
<div><a class="title" href="{{currpath}}?mode=commit;h={{commit_hash}}">{{commit_desc}}</a></div>
<div class="page_path"><b>/</b></div>
<div class="page_body">
<table cellspacing="0">

{% for file in files_list %}
  <tr class="light">
  <td style="font-family:monospace">{{file.perms_string}}</td>
  <td class="list"><a class="list" href="{{currpath}}/{{file.name}}?h={{file.sha1}};hb={{commit_hash}}">{{file.name}}</a></td>
  {% if file.type == "blob" %}
    <td class="link"><a href="{{currpath}}/{{file.name}}?mode=commit;h={{file.sha1}};hb={{commit_hash}}">commit</a> | <a href="{{currpath}}/{{file.name}?mode=history;h={{commit_hash}}">history</a></td>
  {% else %}
    <td class="link"><a href="{{currpath}}/{{file.name}}?h={{file.sha1}};hb={{commit_hash}}">tree</a></td>
  {% endif %}
  </tr>
{% endfor %}

</table>
</div>
